html,
body {
  background-image: radial-gradient(
      circle at 28% 90%,
      rgba(113, 113, 113, 0.03) 0%,
      rgba(113, 113, 113, 0.03) 24%,
      transparent 24%,
      transparent 100%
    ),
    radial-gradient(
      circle at 84% 65%,
      rgba(173, 173, 173, 0.03) 0%,
      rgba(173, 173, 173, 0.03) 45%,
      transparent 45%,
      transparent 100%
    ),
    radial-gradient(
      circle at 46% 12%,
      rgba(141, 141, 141, 0.03) 0%,
      rgba(141, 141, 141, 0.03) 22%,
      transparent 22%,
      transparent 100%
    ),
    radial-gradient(
      circle at 26% 14%,
      rgba(119, 119, 119, 0.03) 0%,
      rgba(119, 119, 119, 0.03) 35%,
      transparent 35%,
      transparent 100%
    ),
    radial-gradient(
      circle at 81% 90%,
      rgba(42, 42, 42, 0.03) 0%,
      rgba(42, 42, 42, 0.03) 40%,
      transparent 40%,
      transparent 100%
    ),
    radial-gradient(
      circle at 28% 100%,
      rgba(234, 234, 234, 0.03) 0%,
      rgba(234, 234, 234, 0.03) 56%,
      transparent 56%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}

.container {
  max-width: 968px;
}

img:not(.carousel img) {
  width: 100%;
  max-width: 400px;
  height: auto;
}

a {
  color: #009aea;
}

.dental-literature-card card img {
  width: 100%;
  max-width: 15px;
  height: auto;
}

h5 {
  color: #2e4bf8;
}

.list-navbar {
  background-color: #2e4bf8;
  font-size: 14px;
  color: #fff;
}

.whatsapp-btn {
  background-color: #25d366;
}

.card .card-title {
  color: #00a3b4;
}

h2 {
  color: #009aea;
  font-size: 34px;
}

.theme-navbar,
.footer {
  background-image: radial-gradient(
      circle at 82% 60%,
      rgba(59, 59, 59, 0.06) 0%,
      rgba(59, 59, 59, 0.06) 69%,
      transparent 69%,
      transparent 100%
    ),
    radial-gradient(
      circle at 36% 0%,
      rgba(185, 185, 185, 0.06) 0%,
      rgba(185, 185, 185, 0.06) 59%,
      transparent 59%,
      transparent 100%
    ),
    radial-gradient(
      circle at 58% 82%,
      rgba(183, 183, 183, 0.06) 0%,
      rgba(183, 183, 183, 0.06) 17%,
      transparent 17%,
      transparent 100%
    ),
    radial-gradient(
      circle at 71% 32%,
      rgba(19, 19, 19, 0.06) 0%,
      rgba(19, 19, 19, 0.06) 40%,
      transparent 40%,
      transparent 100%
    ),
    radial-gradient(
      circle at 77% 5%,
      rgba(31, 31, 31, 0.06) 0%,
      rgba(31, 31, 31, 0.06) 52%,
      transparent 52%,
      transparent 100%
    ),
    radial-gradient(
      circle at 96% 80%,
      rgba(11, 11, 11, 0.06) 0%,
      rgba(11, 11, 11, 0.06) 73%,
      transparent 73%,
      transparent 100%
    ),
    radial-gradient(
      circle at 91% 59%,
      rgba(252, 252, 252, 0.06) 0%,
      rgba(252, 252, 252, 0.06) 44%,
      transparent 44%,
      transparent 100%
    ),
    radial-gradient(
      circle at 52% 82%,
      rgba(223, 223, 223, 0.06) 0%,
      rgba(223, 223, 223, 0.06) 87%,
      transparent 87%,
      transparent 100%
    ),
    radial-gradient(
      circle at 84% 89%,
      rgba(160, 160, 160, 0.06) 0%,
      rgba(160, 160, 160, 0.06) 57%,
      transparent 57%,
      transparent 100%
    ),
    linear-gradient(90deg, hsl(231, 94%, 58%), rgb(166, 255, 237));
}

p {
  font-size: 17px;
}

.card a {
  text-decoration: none;
}

.card .bi {
  font-size: 22px;
}

.underline-text {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-decoration-thickness: 6px;
  color: #009aea;
}

.features {
  font-size: 17px;
}

.footer a {
  text-decoration: none;
  color: #fff;
}
.footer a:hover {
  color: #9fffe2;
}

.card i {
  font-size: 34px;
}

.accordion-header button {
  font-size: 16px;
}

.footer .share-icons a {
  font-size: 22px;
}

.bi-facebook {
  color: #075aff;
}

.bi-instagram {
  color: #fc51ff;
}

.bi-twitter {
  color: #1da1f2;
}
