{{ define "main" }}
<div class="row mb-5">
  {{ range .Pages }}
  <div class="col-sm d-flex align-content-stretch flex-wrap mt-4">
    <div class="card flex-fill mb-2">
      <img src="{{ .Params.image }}" alt="image" class="card-img-top" />
      <div class="card-body">
        <h4 class="card-title">{{ .Title }}</h4>
        <a class="stretched-link" href="{{ .Params.link }}"></a>
        <p>{{ .Params.short_description }}</p>
      </div>
    </div>
  </div>
  {{ end }}
</div>

<!-- WHATSAPP BUTTON -->
<div class="text-center my-5">
  <h5 class="mb-3">Have any questions? Contact us now!</h5>
  <a
    class="btn whatsapp-btn btn-lg"
    href="{{
  .Site.Data.whatsapp_btn.button_link
  }}"
  >
    <i class="bi bi-whatsapp me-2"></i>
    {{ .Site.Data.whatsapp_btn.button_text }}
  </a>
</div>
{{ end }}
