{{ define "main" }}

<!-- LIST NAVBAR -->
{{ if eq .Params.show_list true }}
<nav class="list-navbar navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        {{ range .CurrentSection.Pages }}
        <li class="nav-item">
          <a href="{{ .Permalink }}" class="nav-link text-light"
            >{{ .Title }}</a
          >
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</nav>
{{ end }}

<div class="container">
  <h2 class="text-secondary mt-2">{{ .Title }}</h2>
  {{ partial "metadata.html" . }}
  <br />

  <div class="card">
    <div class="card-body">
      <div>{{ .Content }}</div>
    </div>
  </div>

  <br />
  <hr />

  <!-- WHATSAPP BUTTON -->
  <div class="text-center my-5">
    <h5 class="mb-3">Have any questions? Contact us now!</h5>
    <a
      class="btn btn-primary border-0 whatsapp-btn btn-lg"
      href="{{
    .Site.Data.whatsapp_btn.button_link
    }}"
    >
      <i class="bi bi-whatsapp me-2"></i>
      {{ .Site.Data.whatsapp_btn.button_text }}
    </a>
  </div>
</div>

{{ end }}
