<style>
  #call-btn {
    z-index: 99;
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    padding: 1rem;
  }

  #call-card {
    z-index: 99;
    position: fixed;
    bottom: 6rem;
    right: 0.5rem;
    height: 80%;
    overflow: scroll;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .card-subtitle {
    font-size: 14px;
    font-weight: 500;
  }
</style>

<div class="">
  <button class="btn btn-primary btn-lg call-button rounded-circle" id="call-btn">

    <!-- call icon -->
    <svg id="call-icon" xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none"
      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path
        d="M22 16.92v3a2 2 0 01-2.18 2 19.79 19.79 0 01-8.63-3.07 19.5 19.5 0 01-6-6 19.79 19.79 0 01-3.07-8.67A2 2 0 014.11 2h3a2 2 0 012 1.72 12.84 12.84 0 00.7 2.81 2 2 0 01-.45 2.11L8.09 9.91a16 16 0 006 6l1.27-1.27a2 2 0 012.11-.45 12.84 12.84 0 002.81.7A2 2 0 0122 16.92z">
      </path>
    </svg>

    <!-- cancel icon -->
    <svg id="cancel-icon" class="d-none" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
      fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <line x1="18" y1="6" x2="6" y2="18"></line>
      <line x1="6" y1="6" x2="18" y2="18"></line>
    </svg>
  </button>

  <!-- call card -->
  <div class="card d-none" id="call-card">
    <div class="card-body">
      <h5 class="card-title mb-3">{{ .Site.Data.call_list.header }}</h5>
      {{ range .Site.Data.call_list.call_list }}
      <div class="card call-card bg-light mb-3">
        <div class="card-body">
          <div class="bg-primar p- rounded-circl text-whit me-2"></div>
          <div>
            <div class="card-subtitle text-secondary mb-1">{{ .sub_title }}</div>
            <h6 class="card-title mb-3">{{ .title }}</h6>
            <div class="">
              <a href="https://wa.me/{{ .number }}" class="btn btn-success">
                <svg class="align-middle me-1" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    d="M22 16.92v3a2 2 0 01-2.18 2 19.79 19.79 0 01-8.63-3.07 19.5 19.5 0 01-6-6 19.79 19.79 0 01-3.07-8.67A2 2 0 014.11 2h3a2 2 0 012 1.72 12.84 12.84 0 00.7 2.81 2 2 0 01-.45 2.11L8.09 9.91a16 16 0 006 6l1.27-1.27a2 2 0 012.11-.45 12.84 12.84 0 002.81.7A2 2 0 0122 16.92z">
                  </path>
                </svg>
                Whatsapp</a>
              <a href="tel:{{ .number }}" class="btn btn-primary">
                <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                  <path
                    d="M14.05 6A5 5 0 0118 10m-3.95-8a9 9 0 018 7.94m0 7v3a2 2 0 01-2 2h-.19a19.79 19.79 0 01-8.63-3.07 19.52 19.52 0 01-6-6 19.82 19.82 0 01-3.11-8.69A2 2 0 013.93 2h3.18a2 2 0 012 1.72 13 13 0 00.7 2.81 2 2 0 01-.45 2.11L8.09 9.91a16 16 0 006 6l1.27-1.27a2 2 0 012.11-.45 13 13 0 002.81.7A2 2 0 0122 16.92z">
                  </path>
                </svg>
                Call
              </a>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</div>

<script>
  var callBtn = document.querySelector('#call-btn');
  var callCard = document.querySelector('#call-card');
  var callIcon = document.querySelector('#call-icon');
  var cancelIcon = document.querySelector('#cancel-icon');

  callBtn.addEventListener('click', () => {
    callCard.classList.toggle('d-none');
    callIcon.classList.toggle('d-none');
    cancelIcon.classList.toggle('d-none');
  });
</script>