<footer class="footer text-light">
  <div class="container">
    <div class="row pt-3">
      <div class="col-sm">
        <div class="text-light fs-3 mb-2">{{ .Site.Data.footer.title }}</div>
        <span class="h6">{{ .Site.Data.footer.short_description }}</span>
        <br />
        <div class="text-white mt-4">
          <h5 class="fs-5 my-3">Contact US</h5>
          <!-- PHONE -->
          <div class="my-2">
            <i class="bi bi-phone me-2"></i>
            <a href="tel:{{ .Site.Data.footer.contact_phone }}"
              >{{ .Site.Data.footer.contact_phone }}</a
            >
          </div>
          <!-- EMAIL -->
          <div class="my-2">
            <i class="bi bi-envelope me-2"></i>
            <a href="mailto:{{ .Site.Data.footer.contact_email }}"
              >{{ .Site.Data.footer.contact_email }}</a
            >
          </div>
          <!-- ADDRESS -->
          <div class="my-2">
            <i class="bi bi-geo-alt me-2"></i>
            <a href="{{ .Site.Data.footer.contact_address_link }}"
              >{{ .Site.Data.footer.contact_address }}</a
            >
          </div>
        </div>

        <!-- SHARE ICONS -->
        <div class="share-icons my-3">
          <a
            class="me-3"
            href="https://facebook.com/{{ .Site.Data.footer.facebook_id }}"
            ><i class="bi bi-facebook"></i
          ></a>
          <a
            class="me-3"
            href="https://instagram.com/{{ .Site.Data.footer.instagram_id }}"
            ><i class="bi bi-instagram"></i
          ></a>
          <a
            class="me-3"
            href="https://twitter.com/{{ .Site.Data.footer.instagram_id }}"
            ><i class="bi bi-twitter"></i
          ></a>
        </div>
      </div>
      <div class="col-sm mt-3">
        <h4>About us</h4>
        {{ .Site.Data.footer.about_us }}
      </div>
    </div>
    <hr />
    <div class="row pb-3">
      <div class="col text-center">
        <p>{{ .Site.Data.footer.copyright }}</p>
        <span>{{ .Site.Data.footer.end_text }}</span>
      </div>
    </div>
  </div>
</footer>
