{{ define "main" }}
<div class="container">
  <div class="row justify-content-center mt-3 mb-4">
    <div class="col text-center-sm">
      <img class="img-fluid" src="images/img_top.png" alt="" height="80%" />
    </div>
  </div>

  <!-- WHATSAPP BUTTON -->
  <div class="text-center my-5">
    <h5 class="mb-3">Have any questions? Contact us now!</h5>
    <a
      class="btn whatsapp-btn btn-lg"
      href="{{
    .Site.Data.navbar.button_link
    }}"
    >
      <i class="bi bi-whatsapp me-2"></i>
      {{ .Site.Data.whatsapp_btn.button_text }}
    </a>
  </div>

  <!-- CARDS -->

  <h2 class="underline-text mb-3">{{ .Site.Data.cards.header }}</h2>
  <div class="row mb-5">
    {{ range $index,$val := .Site.Data.cards.cards }} {{ if le $index 3}}
    <div class="col-sm d-flex align-content-stretch flex-wrap">
      <div class="card flex-fill mb-2">
        <img src="{{ .img }}" alt="" class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title text-center mt-2">{{ .title }}</h3>
          <p class="short-description">{{ .short_description }}</p>
          <a class="stretched-link" href="{{ .link }}"></a>
        </div>
      </div>
    </div>
    {{ end }} {{ end }}
  </div>

  <!-- PARAGRAPH -->
  <div class="paragraph row mb-4">
    <div class="col">
      <h2 class="paragraph-title underline-text mb-3">
        {{ .Site.Data.paragraph.title }}
      </h2>
      <p class="paragraph-text">{{ .Site.Data.paragraph.paragraph }}</p>
    </div>
  </div>

  <div class="row features mb-5">
    <div class="col">
      <h2 class="underline-text mb-3">Features</h2>
      {{ range $index, $value := .Site.Data.features }}
      <div>
        <span><i class="bi bi-arrow-right me-2"></i></span>{{ .feature }}
      </div>
      {{ end }}
    </div>
  </div>

  <div class="alert alert-warning border-2 border-warning">
    <h5>{{ .Site.Data.note.title }}</h5>
    <p>{{ .Site.Data.note.description }}</p>
    {{ range $index, $value := .Site.Data.note.lists }}
    <b>{{ add $index 1 }}</b>.
    <span class="fw-bold">{{ .title }}</span>
    <ul>
      {{ range .points }}
      <li>{{ .text }}</li>
      {{ end }}
    </ul>

    {{ end }}
  </div>

  <!-- IMAGES -->
  <h2 class="underline-text mb-3">Images</h2>
  <div class="row mb-4">
    {{ range $index, $value := .Site.Data.images }} {{ if le $index 5 }}
    <div class="col-sm text-center">
      <img class="img-fluid m-2" src="{{ .src }}" alt="" loading="lazy" />
    </div>
    {{ end }}
  </div>
  {{ end }}

  <!-- WHATSAPP BUTTON -->
  <div class="text-center my-5">
    <h5 class="mb-3">Have any questions? Contact us now!</h5>
    <a
      class="btn whatsapp-btn btn-lg"
      href="{{
    .Site.Data.whatsapp_btn.button_link
    }}"
    >
      <i class="bi bi-whatsapp me-2"></i>
      {{ .Site.Data.whatsapp_btn.button_text }}
    </a>
  </div>
</div>

{{ end }}
