{{ define "main" }}
<div class="container">
  <div class="row justify-content-center mt-3 mb-4">
    <div class="col text-center-sm">
      <img class="img-fluid" src="images/img_top.png" alt="" height="80%" />
    </div>
  </div>

  <!-- CARDS -->
  <h2 class="underline-text mb-3">{{ .Site.Data.cards.header }}</h2>
  <div class="row mb-3">
    {{ range $index,$val := .Site.Data.cards.cards }} {{ if le $index 3}}
    <div class="col-sm d-flex align-content-stretch flex-wrap">
      <div class="card flex-fill mb-3">
        <img src="{{ .img }}" alt="img" class="card-img-top" />
        <div class="card-body">
          <h3 class="card-title text-center mt-2">{{ .title }}</h3>
          <p class="short-description">{{ .short_description }}</p>
          <a class="stretched-link" href="{{ .link }}"></a>
        </div>
      </div>
    </div>
    {{ end }} {{ end }}
  </div>

  <!-- WHATSAPP BUTTON -->
  <div class="text-center my-5">
    <h5 class="mb-3">Have any questions? Contact us now!</h5>
    <a
      class="btn btn-primary border-0 whatsapp-btn btn-lg"
      href="{{
    .Site.Data.whatsapp_btn.button_link
    }}"
    >
      <i class="bi bi-whatsapp me-2"></i>
      {{ .Site.Data.whatsapp_btn.button_text }}
    </a>
  </div>
</div>

{{ end }}
